@media screen and (max-width: 700px ){
    .contenido{
        flex-direction: column;
        height: 100%;
    }
    .contido_lista{
        width: 90%;
        margin-left: 15px;
        margin-right: 15px;
    }
    .titulo{
        font-size: 25px;
    }
    .DIV_pedro{
        display: flex;
        justify-content: center;
    }
    .pedro{
        margin: 0;
        width: 180px;
        height: 180px;
    }
    .cuadro_informacion{
        width: 100%;
        margin: 0;
    }
    .imformacion_lista{
        margin-top: 10px;
    }
    .cotenedor_redes {
        width: 100%;
    }
    .cotenedor_redes2{
        width: 100%;
    }
    .parrafos{
        margin: 0 3% 5px 3%;
    }
    .parrafos2{
        margin: 0 3% 5px 3%;
    }
}

@media screen and (max-width: 400px ){

    .titulo{
        font-size: 20px;
    }
    .pedro{
        margin: 0;
        width: 130px;
        height: 130px;
    }

    .contenido{
        margin: 0 5px;
     }
     .contido_lista{
         width: 90%;
         margin-left: 15px;
         margin-right: 15px;
     }

}